body{
  text-align: center;
  font-size: 30px;
  background-color: #333;
  color: RosyBrown;
}

.myImg{
  width: 30%;
  margin: 0 25%;
  border: 7px double White;
}

.closeBtn{
  width: 40px;
}

.myImg:hover, .closeBtn:hover{
  cursor: pointer;
}

p{
  font-size: 20px;
}


.myModal{
  background-color: lightblue;
  color: black;
  height: 500px;
  width: 500px;
  display: none;
  position: fixed;
  top: 40px;
  left: 50%;
  z-index: 100;
}
